<div class="container">
    <h1 class="text-center">Booking Form</h1>

    <form name="bookingForm" ng-submit="ctrl.buy()">
        <div class="row">
            <!--Start of 1st column Booking details-->

            <div class="col-lg-6">


                <h2>
                    <span class="numberCircle">1</span>
                    <span>Extra Details</span>

                </h2>

                <h3>{{ctrl.selectedPackage.name}}</h3>


                <div class="form-group">
                    <label for="">Dietary Requirements</label>
                    <input type="text" class="form-control" ng-model="traveller.specialRequest" id=""
                           placeholder="Any special requests?">
                </div>

                <div class="form-group">
                    <label for="">Arrival Transport</label>
                    <br>
                    <select class="form-control" ng-model="traveller.arrTransport" name="ArrTransport">
                        <option value="null">Please select</option>
                        <option value="zjjAirport">ZJJ Airport</option>
                        <option value="train">Train</option>
                        <option value="bus">Bus</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="ArrivalDate">Arrival Date</label>
                    <input type="date" class="form-control" id="ArrivalDate" ng-model="arrivalDate"
                           placeholder="Your arrival date">
                </div>

                <div class="form-group">
                    <label for="ArrivalTime">Arrival Time</label>
                    <input type="text" class="form-control" id="ArrivalTime" ng-model="arrivalTime"
                           placeholder="Eg. 2:00pm">
                </div>

                <div class="form-group">
                    <label for="FlightTrainDetails">Flight / Train Number</label>
                    <input type="text" class="form-control" id="FlightTrainDetails" ng-model="flightTrainDetails"
                           placeholder="Please enter">
                </div>

                <h2>
                    <span class="numberCircle">2</span>
                    <span>Traveller's Information <small>(to receive your order comfirmation) </small></span>

                </h2>

                <div class="form-inline">
                    <div class="form-group">
                        <label for="">Title</label>
                        <br>
                        <select class="form-control" name="" ng-model="salutation">
                            <option value="">Ms</option>
                            <option value="">MR</option>
                            <option value="">MRS</option>
                            <option value="">MISS</option>
                            <option value="">Dr.</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">First Name</label>
                        <br>
                        <input type="text" class="form-control" id="FirstName" ng-model="firstName">
                    </div>

                    <div class="form-group">
                        <label for="">Family Name</label>
                        <br>
                        <input type="text" class="form-control" id="FamilyName" ng-model="familyName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Nationality</label>
                    <br>
                    <select class="form-control" name="travel_country" id="travel_country" data-selected-value="">

                        <!-- Localed country codes (ISO 3166). -->
                        <option value="" selected="selected">Please select</option>

                        <option value="CN">China</option>
                        <option value="HK">Hong Kong</option>
                        <option value="TW">Taiwan</option>
                        <option value="MO">Macau</option>
                        <option value="AU">Australia</option>
                        <option value="SG">Singapore</option>
                        <option value="ID">Indonesia</option>
                        <option value="IN">India</option>
                        <option value="JP">Japan</option>
                        <option value="KR">Korea South</option>
                        <option value="MY">Malaysia</option>
                        <option value="PH">Philippines</option>
                        <option value="TH">Thailand</option>
                        <option value="US">USA</option>

                        <optgroup label="Other" countries="" districts="">
                            <option value="DZ">Algeria</option>
                            <option value="AL">Albania</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AS">AmericanSamoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AG">Antigua &amp; Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BR">Brazil</option>
                            <option value="BN">Brunei</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde Islands</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">CotedIvoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CY">Cyprus North</option>
                            <option value="CY">Cyprus South</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="TP">EastTimor</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea - Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HN">Honduras</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IR">Iran</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea North</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Laos</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MK">Macedonia</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="YT">Mayotte</option>
                            <option value="MUS">Mauritius</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia</option>
                            <option value="MD">Moldova</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MN">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="AN">NetherlandsAntilles</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Islands</option>
                            <option value="NP">Northern Marianas</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestine</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PK">Pakistan</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Reunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russia</option>
                            <option value="RW">Rwanda</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome &amp; Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="CS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SK">Slovak Republic</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SH">St. Helena</option>
                            <option value="KN">St. Kitts</option>
                            <option value="SC">St. Lucia</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SI">Syria</option>
                            <option value="TJ">Tajikstan</option>
                            <option value="TZ">Tanzania</option>
                            <option value="TG">Togo</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad &amp; Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks &amp; Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="GB">UK</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VA">Vatican City</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Vietnam</option>
                            <option value="VG">Virgin Islands - British</option>
                            <option value="VI">Virgin Islands - US</option>
                            <option value="WF">Wallis &amp; Futuna</option>
                            <option value="YE">Yemen (North)</option>
                            <option value="YE">Yemen (South)</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </optgroup>

                    </select>
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <br>
                        <select class="form-control" name="phone_country" id="phone_country" data-selected-value="">

                            <option value="" selected="selected"> Please select</option>

                            <option data-countrycode="CN" value="86">China (+86)</option>
                            <option data-countrycode="HK" value="852">Hong Kong (+852)</option>
                            <option data-countrycode="TW" value="886">Taiwan (+886)</option>
                            <option data-countrycode="MO" value="853">Macau (+853)</option>
                            <option data-countrycode="SG" value="65">Singapore (+65)</option>
                            <option data-countrycode="AU" value="61">Australia (+61)</option>
                            <option data-countrycode="ID" value="62">Indonesia (+62)</option>
                            <option data-countrycode="IN" value="91">India (+91)</option>
                            <option data-countrycode="JP" value="81">Japan (+81)</option>
                            <option data-countrycode="KR" value="82">Korea South (+82)</option>
                            <option data-countrycode="MY" value="60">Malaysia (+60)</option>
                            <option data-countrycode="PH" value="63">Philippines (+63)</option>
                            <option data-countrycode="TH" value="66">Thailand (+66)</option>
                            <option data-countrycode="US" value="1">USA (+1)</option>

                            <optgroup label="Other" countries="" districts="">
                                <option data-countrycode="DZ" value="213">Algeria (+213)</option>
                                <option data-countrycode="AL" value="355">Albania (+355)</option>
                                <option data-countrycode="AF" value="93">Afghanistan (+93 )</option>
                                <option data-countrycode="AS" value="684">AmericanSamoa (+684)</option>
                                <option data-countrycode="AD" value="376">Andorra (+376)</option>
                                <option data-countrycode="AO" value="244">Angola (+244)</option>
                                <option data-countrycode="AI" value="1264">Anguilla (+1264)</option>
                                <option data-countrycode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                                <option data-countrycode="AR" value="54">Argentina (+54)</option>
                                <option data-countrycode="AM" value="374">Armenia (+374)</option>
                                <option data-countrycode="AW" value="297">Aruba (+297)</option>
                                <option data-countrycode="AT" value="43">Austria (+43)</option>
                                <option data-countrycode="AZ" value="994">Azerbaijan (+994)</option>
                                <option data-countrycode="BS" value="1242">Bahamas (+1242)</option>
                                <option data-countrycode="BH" value="973">Bahrain (+973)</option>
                                <option data-countrycode="BD" value="880">Bangladesh (+880)</option>
                                <option data-countrycode="BB" value="1246">Barbados (+1246)</option>
                                <option data-countrycode="BY" value="375">Belarus (+375)</option>
                                <option data-countrycode="BE" value="32">Belgium (+32)</option>
                                <option data-countrycode="BZ" value="501">Belize (+501)</option>
                                <option data-countrycode="BJ" value="229">Benin (+229)</option>
                                <option data-countrycode="BM" value="1441">Bermuda (+1441)</option>
                                <option data-countrycode="BT" value="975">Bhutan (+975)</option>
                                <option data-countrycode="BO" value="591">Bolivia (+591)</option>
                                <option data-countrycode="BA" value="387">Bosnia Herzegovina (+387)</option>
                                <option data-countrycode="BW" value="267">Botswana (+267)</option>
                                <option data-countrycode="BR" value="55">Brazil (+55)</option>
                                <option data-countrycode="BN" value="673">Brunei (+673)</option>
                                <option data-countrycode="BG" value="359">Bulgaria (+359)</option>
                                <option data-countrycode="BF" value="226">Burkina Faso (+226)</option>
                                <option data-countrycode="BI" value="257">Burundi (+257)</option>
                                <option data-countrycode="KH" value="855">Cambodia (+855)</option>
                                <option data-countrycode="CM" value="237">Cameroon (+237)</option>
                                <option data-countrycode="CA" value="1">Canada (+1)</option>
                                <option data-countrycode="CV" value="238">Cape Verde Islands (+238)</option>
                                <option data-countrycode="KY" value="1345">Cayman Islands (+1345)</option>
                                <option data-countrycode="CF" value="236">Central African Republic (+236)</option>
                                <option data-countrycode="CL" value="56">Chile (+56)</option>
                                <option data-countrycode="TD" value="235">Chad (+235)</option>
                                <option data-countrycode="CO" value="57">Colombia (+57)</option>
                                <option data-countrycode="KM" value="269">Comoros (+269)</option>
                                <option data-countrycode="CG" value="242">Congo (+242)</option>
                                <option data-countrycode="CK" value="682">Cook Islands (+682)</option>
                                <option data-countrycode="CR" value="506">Costa Rica (+506)</option>
                                <option data-countrycode="CI" value="225">CotedIvoire (+225)</option>
                                <option data-countrycode="HR" value="385">Croatia (+385)</option>
                                <option data-countrycode="CU" value="53">Cuba (+53)</option>
                                <option data-countrycode="CY" value="90392">Cyprus North (+90392)</option>
                                <option data-countrycode="CY" value="357">Cyprus South (+357)</option>
                                <option data-countrycode="CZ" value="420">Czech Republic (+42)</option>
                                <option data-countrycode="DK" value="45">Denmark (+45)</option>
                                <option data-countrycode="DJ" value="253">Djibouti (+253)</option>
                                <option data-countrycode="DM" value="1809">Dominica (+1809)</option>
                                <option data-countrycode="DO" value="1809">Dominican Republic (+1809)</option>
                                <option data-countrycode="TP" value="670">EastTimor (+670)</option>
                                <option data-countrycode="EC" value="593">Ecuador (+593)</option>
                                <option data-countrycode="EG" value="20">Egypt (+20)</option>
                                <option data-countrycode="SV" value="503">El Salvador (+503)</option>
                                <option data-countrycode="GQ" value="240">Equatorial Guinea (+240)</option>
                                <option data-countrycode="ER" value="291">Eritrea (+291)</option>
                                <option data-countrycode="EE" value="372">Estonia (+372)</option>
                                <option data-countrycode="ET" value="251">Ethiopia (+251)</option>
                                <option data-countrycode="FK" value="500">Falkland Islands (+500)</option>
                                <option data-countrycode="FO" value="298">Faroe Islands (+298)</option>
                                <option data-countrycode="FJ" value="679">Fiji (+679)</option>
                                <option data-countrycode="FI" value="358">Finland (+358)</option>
                                <option data-countrycode="FR" value="33">France (+33)</option>
                                <option data-countrycode="GF" value="594">French Guiana (+594)</option>
                                <option data-countrycode="PF" value="689">French Polynesia (+689)</option>
                                <option data-countrycode="GA" value="241">Gabon (+241)</option>
                                <option data-countrycode="GM" value="220">Gambia (+220)</option>
                                <option data-countrycode="GE" value="7880">Georgia (+7880)</option>
                                <option data-countrycode="DE" value="49">Germany (+49)</option>
                                <option data-countrycode="GH" value="233">Ghana (+233)</option>
                                <option data-countrycode="GI" value="350">Gibraltar (+350)</option>
                                <option data-countrycode="GR" value="30">Greece (+30)</option>
                                <option data-countrycode="GL" value="299">Greenland (+299)</option>
                                <option data-countrycode="GD" value="1473">Grenada (+1473)</option>
                                <option data-countrycode="GP" value="590">Guadeloupe (+590)</option>
                                <option data-countrycode="GU" value="671">Guam (+671)</option>
                                <option data-countrycode="GT" value="502">Guatemala (+502)</option>
                                <option data-countrycode="GN" value="224">Guinea (+224)</option>
                                <option data-countrycode="GW" value="245">Guinea - Bissau (+245)</option>
                                <option data-countrycode="GY" value="592">Guyana (+592)</option>
                                <option data-countrycode="HT" value="509">Haiti (+509)</option>
                                <option data-countrycode="HN" value="504">Honduras (+504)</option>
                                <option data-countrycode="HU" value="36">Hungary (+36)</option>
                                <option data-countrycode="IS" value="354">Iceland (+354)</option>
                                <option data-countrycode="IR" value="98">Iran (+98)</option>
                                <option data-countrycode="IQ" value="964">Iraq (+964)</option>
                                <option data-countrycode="IE" value="353">Ireland (+353)</option>
                                <option data-countrycode="IL" value="972">Israel (+972)</option>
                                <option data-countrycode="IT" value="39">Italy (+39)</option>
                                <option data-countrycode="JM" value="1876">Jamaica (+1876)</option>
                                <option data-countrycode="JO" value="962">Jordan (+962)</option>
                                <option data-countrycode="KZ" value="7">Kazakhstan (+7)</option>
                                <option data-countrycode="KE" value="254">Kenya (+254)</option>
                                <option data-countrycode="KI" value="686">Kiribati (+686)</option>
                                <option data-countrycode="KP" value="850">Korea North (+850)</option>
                                <option data-countrycode="KW" value="965">Kuwait (+965)</option>
                                <option data-countrycode="KG" value="996">Kyrgyzstan (+996)</option>
                                <option data-countrycode="LA" value="856">Laos (+856)</option>
                                <option data-countrycode="LV" value="371">Latvia (+371)</option>
                                <option data-countrycode="LB" value="961">Lebanon (+961)</option>
                                <option data-countrycode="LS" value="266">Lesotho (+266)</option>
                                <option data-countrycode="LR" value="231">Liberia (+231)</option>
                                <option data-countrycode="LY" value="218">Libya (+218)</option>
                                <option data-countrycode="LI" value="417">Liechtenstein (+417)</option>
                                <option data-countrycode="LT" value="370">Lithuania (+370)</option>
                                <option data-countrycode="LU" value="352">Luxembourg (+352)</option>
                                <option data-countrycode="MK" value="389">Macedonia (+389)</option>
                                <option data-countrycode="MG" value="261">Madagascar (+261)</option>
                                <option data-countrycode="MW" value="265">Malawi (+265)</option>
                                <option data-countrycode="MV" value="960">Maldives (+960)</option>
                                <option data-countrycode="ML" value="223">Mali (+223)</option>
                                <option data-countrycode="MT" value="356">Malta (+356)</option>
                                <option data-countrycode="MH" value="692">Marshall Islands (+692)</option>
                                <option data-countrycode="MQ" value="596">Martinique (+596)</option>
                                <option data-countrycode="MR" value="222">Mauritania (+222)</option>
                                <option data-countrycode="YT" value="269">Mayotte (+269)</option>
                                <option data-countrycode="MUS" value="230">Mauritius (+230)</option>
                                <option data-countrycode="MX" value="52">Mexico (+52)</option>
                                <option data-countrycode="FM" value="691">Micronesia (+691)</option>
                                <option data-countrycode="MD" value="373">Moldova (+373)</option>
                                <option data-countrycode="MC" value="377">Monaco (+377)</option>
                                <option data-countrycode="MN" value="976">Mongolia (+976)</option>
                                <option data-countrycode="MS" value="1664">Montserrat (+1664)</option>
                                <option data-countrycode="MA" value="212">Morocco (+212)</option>
                                <option data-countrycode="MZ" value="258">Mozambique (+258)</option>
                                <option data-countrycode="MN" value="95">Myanmar (+95)</option>
                                <option data-countrycode="NA" value="264">Namibia (+264)</option>
                                <option data-countrycode="NR" value="674">Nauru (+674)</option>
                                <option data-countrycode="NP" value="977">Nepal (+977)</option>
                                <option data-countrycode="NL" value="31">Netherlands (+31)</option>
                                <option data-countrycode="AN" value="599">NetherlandsAntilles (+599)</option>
                                <option data-countrycode="NC" value="687">New Caledonia (+687)</option>
                                <option data-countrycode="NZ" value="64">New Zealand (+64)</option>
                                <option data-countrycode="NI" value="505">Nicaragua (+505)</option>
                                <option data-countrycode="NE" value="227">Niger (+227)</option>
                                <option data-countrycode="NG" value="234">Nigeria (+234)</option>
                                <option data-countrycode="NU" value="683">Niue (+683)</option>
                                <option data-countrycode="NF" value="672">Norfolk Islands (+672)</option>
                                <option data-countrycode="NP" value="670">Northern Marianas (+670)</option>
                                <option data-countrycode="NO" value="47">Norway (+47)</option>
                                <option data-countrycode="OM" value="968">Oman (+968)</option>
                                <option data-countrycode="PW" value="680">Palau (+680)</option>
                                <option data-countrycode="PS" value="970">Palestine (+970)</option>
                                <option data-countrycode="PA" value="507">Panama (+507)</option>
                                <option data-countrycode="PG" value="675">Papua New Guinea (+675)</option>
                                <option data-countrycode="PY" value="595">Paraguay (+595)</option>
                                <option data-countrycode="PE" value="51">Peru (+51)</option>
                                <option data-countrycode="PK" value="92">Pakistan (+92)</option>
                                <option data-countrycode="PL" value="48">Poland (+48)</option>
                                <option data-countrycode="PT" value="351">Portugal (+351)</option>
                                <option data-countrycode="PR" value="1787">Puerto Rico (+1787)</option>
                                <option data-countrycode="QA" value="974">Qatar (+974)</option>
                                <option data-countrycode="RE" value="262">Reunion (+262)</option>
                                <option data-countrycode="RO" value="40">Romania (+40)</option>
                                <option data-countrycode="RU" value="7">Russia (+7)</option>
                                <option data-countrycode="RW" value="250">Rwanda (+250)</option>
                                <option data-countrycode="SM" value="378">San Marino (+378)</option>
                                <option data-countrycode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                                <option data-countrycode="SA" value="966">Saudi Arabia (+966)</option>
                                <option data-countrycode="SN" value="221">Senegal (+221)</option>
                                <option data-countrycode="CS" value="381">Serbia (+381)</option>
                                <option data-countrycode="SC" value="248">Seychelles (+248)</option>
                                <option data-countrycode="SL" value="232">Sierra Leone (+232)</option>
                                <option data-countrycode="SK" value="421">Slovak Republic (+421)</option>
                                <option data-countrycode="SI" value="386">Slovenia (+386)</option>
                                <option data-countrycode="SB" value="677">Solomon Islands (+677)</option>
                                <option data-countrycode="SO" value="252">Somalia (+252)</option>
                                <option data-countrycode="ZA" value="27">South Africa (+27)</option>
                                <option data-countrycode="ES" value="34">Spain (+34)</option>
                                <option data-countrycode="LK" value="94">Sri Lanka (+94)</option>
                                <option data-countrycode="SH" value="290">St. Helena (+290)</option>
                                <option data-countrycode="KN" value="1869">St. Kitts (+1869)</option>
                                <option data-countrycode="SC" value="1758">St. Lucia (+1758)</option>
                                <option data-countrycode="SD" value="249">Sudan (+249)</option>
                                <option data-countrycode="SR" value="597">Suriname (+597)</option>
                                <option data-countrycode="SZ" value="268">Swaziland (+268)</option>
                                <option data-countrycode="SE" value="46">Sweden (+46)</option>
                                <option data-countrycode="CH" value="41">Switzerland (+41)</option>
                                <option data-countrycode="SI" value="963">Syria (+963)</option>
                                <option data-countrycode="TJ" value="7">Tajikstan (+7)</option>
                                <option data-countrycode="TZ" value="255">Tanzania (+255)</option>
                                <option data-countrycode="TG" value="228">Togo (+228)</option>
                                <option data-countrycode="TO" value="676">Tonga (+676)</option>
                                <option data-countrycode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                                <option data-countrycode="TN" value="216">Tunisia (+216)</option>
                                <option data-countrycode="TR" value="90">Turkey (+90)</option>
                                <option data-countrycode="TM" value="7">Turkmenistan (+7)</option>
                                <option data-countrycode="TM" value="993">Turkmenistan (+993)</option>
                                <option data-countrycode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                                <option data-countrycode="TV" value="688">Tuvalu (+688)</option>
                                <option data-countrycode="UG" value="256">Uganda (+256)</option>
                                <option data-countrycode="GB" value="44">UK (+44)</option>
                                <option data-countrycode="UA" value="380">Ukraine (+380)</option>
                                <option data-countrycode="AE" value="971">United Arab Emirates (+971)</option>
                                <option data-countrycode="UY" value="598">Uruguay (+598)</option>
                                <option data-countrycode="UZ" value="7">Uzbekistan (+7)</option>
                                <option data-countrycode="VU" value="678">Vanuatu (+678)</option>
                                <option data-countrycode="VA" value="379">Vatican City (+379)</option>
                                <option data-countrycode="VE" value="58">Venezuela (+58)</option>
                                <option data-countrycode="VN" value="84">Vietnam (+84)</option>
                                <option data-countrycode="VG" value="84">Virgin Islands - British (+1284)</option>
                                <option data-countrycode="VI" value="84">Virgin Islands - US (+1340)</option>
                                <option data-countrycode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                                <option data-countrycode="YE" value="969">Yemen (North) (+969)</option>
                                <option data-countrycode="YE" value="967">Yemen (South) (+967)</option>
                                <option data-countrycode="ZM" value="260">Zambia (+260)</option>
                                <option data-countrycode="ZW" value="263">Zimbabwe (+263)</option>
                            </optgroup>
                        </select>

                        <input class="form-control" type="text">

                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Email address
                        <small>(your comformation will be sent via here)</small>
                    </label>
                    <input type="email" class="form-control" id="{{}}" placeholder="wendy@gmail.com">
                </div>

                <h2>
                    <span class="numberCircle">3</span>
                    <span>Payment Type</span>
                </h2>
                <label class="radio-inline">
                    <input type="radio" name="PaymentType" id="CreditCard" value="CreditCard">
                    Credit Card
                </label>
                <label class="radio-inline">
                    <input type="radio" name="PaymentType" id="Paypal" value="Paypal">
                    Paypal
                </label>

                <br>
                <br>
            </div>
            <!--End of the 1st Column extra Booking Details-->

            <!--Start of the 2nd Column for the Cost and Package Details-->
            <div class="col-lg-6">
                <h2>
                    <span class="numberCircle">4</span>
                    <span>Package Details </span>

                </h2>

                <p>{{Package.name}}</p>
                <table class="table table-bordered">
                    <tr>
                        <td>Date</td>
                        <td>29/08/2016</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Quantity :</td>
                        <td>1 x Senior</td>
                    </tr>
                    <tr>
                        <td>3 x Adult</td>
                    </tr>
                    <tr>
                        <td>0 x Child</td>
                    </tr>

                    <tr>
                        <td>Total</td>
                        <td>CNY | ¥7400.00</td>
                    </tr>
                    <tr>
                        <td>Payment Amount</td>
                        <td>CNY | ¥7400.00</td>
                    </tr>


                </table>
                <!--Start of the BS Collapse Accordion for Package day1,2,3,4 Details-->
                <div class="panel-group" id="accordion">
                    <!--Start of Day 1-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapse1">
                                    Day 1</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">DAY 1
                                Upon arrival, you are met and transferred to Wulingyuan about 40minutes drive and your
                                tour will start in Zhangjiajie national Park-Golden Whip Stream/
                            </div>
                        </div>
                    </div>
                    <!--Start of Day 2-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapse2">
                                    Day 2</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">DAY 2
                                Activities for today: Yuanjiajie Mountain, Bailong Elevator, Tianzi Mountain (one-way
                                cable car), Ten-mile Natural Gallery
                                A full day to explore the Zhangjiajie National Forest Park, we will ascend the
                                Yuanjiajie Mountain by the Bailong Elevator - a glass elevator built into the side of
                                the mountain. On the summit, you will take about 2.5 hours to discover the famous
                                "Hallelujah Mountains", the Platform of Forgetfulness, the No. 1 Bridge under Heaven,
                                and some other beautiful sights. After lunch, transfer to see the Tianzi Mountain. Then
                                take a cable car down the mountain and go on sightseeing along the dreamlike Fairyland –
                                Ten-mile Natural Gallery (mini-train is optional). Drive back to the city.
                            </div>
                        </div>
                    </div>
                    <!--Start of Day 3-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapse3">
                                    Day 3</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">DAY 3
                                In the morning, explore the Tianmen Mountain National Forest Park, the symbol and soul
                                of Zhangjiajie.

                                We will experience a ride on the world's longest cable car up to the summit of the
                                Tianmen Mountain, taking in the spectacular scenery as you do so. In the mountain, you
                                will walk (approximately 2 hours) along the plank road in the cliffs. During the hiking,
                                you can choose to experience the glass skywalk built along a cliff with an extra expense
                                (RMB5/pp). After the hiking, you will pay a visit to the Tiammen Temple and some other
                                famous scenic spots, then take the Forest Sightseeing cable car and back to the Tianmen
                                Mountain cable car station and take the big cable car up to the middle station. Take a
                                bus along the Heaven-linking Avenue (a famous mountain-winding highway in the world) to
                                explore the Tianmen Cave. In the afternoon you will be transferred to Fenghuang Anicent
                                Town.
                            </div>
                        </div>
                    </div>
                    <!--Start of Day 4-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapse4">
                                    Day 4</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">Day 4
                                In the morning, explore Fenghuang Ancient Town, a Miao people's town of western Hunan.
                                Your local tour will take you to former residences of celebrities, temples, museums,
                                stilted buildings, old streets, and a short boating in the Tuo River, etc.

                                Fenghuang Ancient Town was added to the UNESCO World Heritage Tentative List on March
                                28, 2008 in the cultural category. This ancient town was regarded as the most beautiful
                                town in China by New Zealand writer Rewi Alley. It was built in 1704, and has 300 years
                                of history. The ancient city is a gathering place for Miao and Tujia ethnic minority. It
                                has an exceptionally well-preserved ancient town that harbors unique ethnic languages,
                                customs, arts as well as many distinctive architectural remains of Ming and Qing styles.
                                We will drive back to Zhangjiajie in the afternoon and transferred to the airport for
                                your departure.
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of the BSCollapse Accordion for Package Details-->

            </div>
            <br>
            <p>By clicking COMFIRM, you agree that you have read and understood our <a ui-sref="#">TERMS &
                Conditions</a>
                and <a ui-sref="#"> Cancellation Policy.</a></p>
            <br>
            <button type="submit" class="btn btn-lg"> COMFIRM</button>


        </div>
    </form>
</div>
