<div class="container-fluid">
    <div class="text-center">
        <h2>Pricing  </h2>
        <h3>Elaine's Total Tour Budget </h3>
        <p>for 1 senior + 3 adults</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Package Price</h1>
                </div>
                <div class="panel-body">
                    <p>Selected Package : 4D/3N ZJJ National Forest Park +Tianmenshan+Yellow Dragon Cave</p>
                    <p><strong>Senior</strong> S$ 370 x 1</p>
                    <p><strong>Adult </strong> S$ 370 x 3</p>
                    <p><strong>Child </strong> S$ -- </p>
                </div>
                <div class="panel-footer">
                    <h3>S$ 1,480</h3>
                    <h4>total package price (1 Senior + 3 Adults)</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Air-fares</h1>
                </div>
                <div class="panel-body">
                    <p>Southern China Airlines Economy Class</p>
                    <p><strong>Senior</strong> S$ 670 x 1</p>
                    <p><strong>Adult </strong> S$ 670  x 3</p>
                    <p><strong>Child </strong> S$ -- </p>
                </div>
                <div class="panel-footer">
                    <h3>S$ 2,010</h3>
                    <h4>Total Airfares</h4>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Insurance</h1>
                </div>
                <div class="panel-body">
                    <p>NTUC Basic Travel Insurance</p>
                    <p><strong>Senior</strong> S$ 105 x 1</p>
                    <p><strong>Adult </strong> S$ 105  x 3</p>
                    <p><strong>Child </strong> S$ -- </p>
                </div>
                <div class="panel-footer">
                    <h3>S$ 420</h3>
                    <h4>per trip (12 days) </h4>

                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
    <h2>Total = S$ 3,910 </h2>
        <h3>Have a Safe and Enjoyable Trip !!</h3>
        <br>
        </div>
    <br>
</div>