<div class="container thank-you-page" >
    <div class="jumbotron">
        <h1>Thank you!</h1>
        <p>Thank you for booking with us. We'll get back to you shortly.</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="itinerary" role="button">Back</a></p>
    </div>
</div>