<div class=container>

    <div class="container-fluid bg-1 text-center">
        <h3 class="">Welcome to ZJJ Tour Company</h3>
        <h1 class="" > 张 家 界 </h1>
        <img src="images/John&Wendy.jpg" class="img-circle" height="200px" width="200px" alt="">
        <h3 class="">A Singapore Team specialising in Zhang Jia Jie Tours</h3>
        <h3 class="" >Hunan Province, China</h3>
    </div>



    <!--Start of 1st row for packages 1 & 2-->
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="package-highlights package01">
                <div>
                    <h3>3D / 2N National Forest Park + Baofeng Cave</h3>
                    <p>Highlights</p>
                    <ul>
                        <li>Day 1 Airport pickup transfer to Wulingyuan</li>
                        <li>Day 2 ZhangJiajie National Forest Park</li>
                        <li>Day 3 Baofeng Lake</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(1)">Details</button>
                </div>
            </div>


        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <div class="package-highlights package02">
                <div>
                    <h4>3D/2N ZJJ National Forest Park + Yellow Dragon Cave</h4>
                    <p>Highlights</p>
                    <ul>
                        <li>D1- Airport/train/bus station pick up
                            Tour of ZJJ National Forest Park: Golden Whip stream
                        </li>
                        <li>D2-Full day tour of YuanJiajie mountain, Tianzi mountain and Ten Miles Gallery</li>
                        <li>D3- Visit Yellow Dragon Cave and transfer to airport</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(2)">Details</button>
                </div>
            </div>

        </div>


    </div>

    <br>

    <!--Start of 2nd row for packages 3,4,-->

    <div class="row">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="package-highlights package03">
                <div>
                    <h3>3D/2N Zhangjiajie National Forest Park + Tianmenshan </h3>
                    <p>Highlights</p>
                    <ul>
                        <li>Day 1 Airport pick up/Zhangjiajie National Forest park</li>
                        <li>Yuanjiajie/Tianzi mountain</li>
                        <li>Tianmenshan/exit</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(3)">Details</button>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="package-highlights package04">
                <div>
                    <h3>4D/3N ZJJ National Forest Park +Tianmenshan+Yellow Dragon Cave</h3>
                    <p>Highlights</p>
                    <ul>
                        <li>D1- Airport/train/bus station pick up
                            Tour of ZJJ National Forest Park: Yellow Stone Village and Golden Whip stream
                        </li>
                        <li>D2-Full day tour of YuanJiajie mountain, Tianzi mountain and Ten Miles Gallery</li>
                        <li>D3- Visit Yellow Dragon Cave and transfer to city</li>
                        <li>D4- Tianmenshan National Forest Park. Transfer to airport/train/bus station</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(4)">Details</button>
                </div>
            </div>
        </div>


    </div>

    <br>

    <!--Start of 3rd row for packages 5,6,7-->

    <div class="row">


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="package-highlights package05">
                <div>
                    <h4>4D/3N Zhangjiajie National Forest park+Grand Canyon+Yellow Dragon Caves</h4>
                    <p>Highlights</p>
                    <ul>
                        <li>Day 1 Airport pick up</li>
                        <li>Day 2 Visit Yangjajie Scenic Area, Tianzi Mountain, Ten-mile Gallery</li>
                        <li>Day 3 Tour Zhangjiajie Grand Canyon</li>
                        <li>Day 4 Tour Zhangjiajie Yellow Dragon Caves and airport transfer</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(5)">Details</button>
                </div>
            </div>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="package-highlights package06">
                <div>
                    <h4>3D/ 2N Zhangjiajie National Forest park+Fenghuang ancient town</h4>
                    <p>Highlights</p>
                    <ul>
                        <li>D1 -Meet your guide and transfer to Wulingyuan, visit Golden Whip Stream</li>
                        <li>D2 -Visit Yuanjiajie Mountain, Bailong Elevator, Tianzi Mountain and Ten-mile Natural
                            Gallery.
                        </li>
                        <li>D3 -Visit Fenghuang Ancient Town.</li>

                    </ul>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(6)">Details</button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="package-highlights package07">
                <div>
                    <h5>4D /3N 3 Zhangjiajie National Forest Park+Tianmen mountains+Fenghuang ancient town</h5>
                    <p>Highlights</p>
                    <button class="btn btn-default" ng-click="ctrl.getPackage(7)">Details</button>
                    <ul>
                        <li>D1- Meet your guide and transfer Wulingyuan and visit Golden Whip Stream</li>
                        <li>D2- Visit Yuanjiajie Mountain, Bailong Elevator, Tianzi Mountain and Ten-mile Natural
                            Gallery.
                        </li>
                        <li>D3- Visit Tianmen mountains</li>
                        <li>D4- Visit Fenghuang ancient town</li>

                    </ul>

                </div>
            </div>
        </div>


    </div>

    <br>
    <br>

    <!--Start of Jumbotron containing the Booking query-->
    <div class="jumbotron jumbo-background" style="background-color: #39393A">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="white-text"><b>Select Package:</b></p>
                            <select class="form-control" ng-model="selectedPackage"
                                    ng-options="p.name for p in ctrl.vacations"
                                    ng-change="ctrl.reprice(selectedPackage.seniorprice,selectedPackage.adultprice,selectedPackage.childprice, true)">
                                <option value ="">Please choose package</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group" style="margin-top: 2em">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="white-text"><b>Select Date:</b></p>
                                    <div class="input-append date" data-date-format="mm/dd/yyyy"
                                         style="margin-top:2.85em">
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p class="white-text"><b>Select Quantity:</b></p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label for="qtyForSenior" class="white-text">Senior</label>
                                    <input class="form-control" type="number" min="0" max="20" value="0"
                                           id="qtyForSenior"
                                           ng-model="ctrl.seniorQty"
                                           ng-change="ctrl.reprice(selectedPackage.seniorprice,selectedPackage.adultprice,selectedPackage.childprice, false)">
                                </div>
                                <div class="col-xs-4">
                                    <label for="qtyForAdult" class="white-text">Adult</label>
                                    <input class="form-control" type="number" id="qtyForAdult" min="0" max="20" value="0"
                                           ng-model="ctrl.adultQty"
                                           ng-change="ctrl.reprice(selectedPackage.seniorprice,selectedPackage.adultprice,selectedPackage.childprice, false)">
                                </div>
                                <div class="col-xs-4">
                                    <label for="qtyForChildren" class="white-text">Child</label>
                                    <input class="form-control" type="number" min="0" max="20" value="0"
                                           id="qtyForChildren"
                                           ng-model="ctrl.childQty"
                                           ng-change="ctrl.reprice(selectedPackage.seniorprice,selectedPackage.adultprice,selectedPackage.childprice, false)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p>
                        <button class="btn btn-lg" style ="background-color : #FD5B03" ng-click="ctrl.booking(selectedPackage)">Go !</button>
                    </p>
                </div>

                <!--Start of the Display at the right-->

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color: #39393A; color: white; font-size: large">Senior : CNY | ¥ {{ctrl.totalSeniorPrice}}</li>
                        <li class="list-group-item" style="background-color: #39393A; color: white; font-size: large">Adult : CNY | ¥ {{ctrl.totalAdultPrice}}</li>
                        <li class="list-group-item" style="background-color: #39393A; color: white; font-size: large">Child : CNY | ¥ {{ctrl.totalChildPrice}}</li>
                    </ul>
                    <p class="text-right" style="color: #CBEF43; font-size: xx-large;">Total : CNY | ¥ {{ctrl.totalPrice}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--End of Jumbotron-->
</div>

