<!--<div class ="container" ng-show="ctrl.packages">-->

    <h3>Package {{ctrl.package.name}}</h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/itineraryPhotos/{{ctrl.package.photo1}}" class="img-responsive">
            <div class="carousel-caption">
                <h3>张家界 , China</h3>
                <p>Your next destination...</p>
            </div>
        </div>

        <div class="item">
            <img src="images/itineraryPhotos/{{ctrl.package.photo2}}" class="img-responsive">
            <div class="carousel-caption">
                <h3>张家界 , China</h3>
                <p>Your next destination...</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <span class="left carousel-control" data-taget="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </span>
    <span class="right carousel-control" data-taret="#myCarouse1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </span>
</div>

<div class="container text-center">
    <h3>Package {{ctrl.package.name  }}</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <p>{{ctrl.package.day1}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>{{ctrl.package.day2}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>
                    {{ctrl.package.day3}}</p>
            </div>
            <div class="well">
                <p>{{ctrl.package.day4}}</p>
            </div>
        </div>
    </div>

    <div class = "row">

<div class = "col-lg-12">
        <button class ="btn btn-lg" ng-click="ctrl.booking()">Go !</button>

</div>

    </div>
</div> <!-- END  class="container text-center" -->
<!--</div>-->