<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-user-plus"></span> Sign Up</h1>
    <br>
    <flash-message
            duration="5000"
            show-close="true"
            on-dismiss="myCallback(flash);"
    ></flash-message>

    <!-- LOGIN FORM -->
    <form ng-submit="ctrl.register()">
        <div class="form-group">
            <label>Username</label>
            <input type="email" class="form-control" ng-model="ctrl.emailAddress" name="emailAddress" placeholder="Email address" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="ctrl.password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" ng-model="ctrl.confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
        </div>

        <button type="submit" class="btn btn-default btn-lg">Register</button>
    </form>

    <hr>
    <!--<a href="/oauth/google" class="btn btn-block btn-social btn-google">-->
        <!--<i class="fa fa-google-plus" aria-hidden="true"></i> Google-->
    <!--</a>-->
    <!--<a href="/oauth/facebook" class="btn btn-block btn-social btn-facebook">-->
        <!--<i class="fa fa-facebook" aria-hidden="true"></i> Facebook-->
    <!--</a>-->
    <!--<a href="/oauth/twitter" class="btn btn-block btn-social btn-twitter">-->
        <!--<i class="fa fa-twitter" aria-hidden="true"></i> Twitter-->
    <!--</a>-->
    <!--<a href="/oauth/linkedIn" class="btn btn-block btn-social btn-linkedin">-->
        <!--<i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn-->
    <!--</a>-->
    <!--<a href="/oauth/wechat" class="btn btn-block btn-social btn-wechat">-->
        <!--<i class="fa fa-wechat" aria-hidden="true"></i> WeChat-->
    <!--</a>-->
    <hr>

    <p>Already have an account? <a ui-sref="SignIn">Login</a></p>
    <p>Or Go <a ui-sref="defaultApp">home</a>.</p>

</div>

</div>