/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0.9em;


}

.navbar-header {
    background-color: #ae1710;
    font-family: cursive;
    border-radius: 80%;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 1em;
}


.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height: 500px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.accomodation {
    text-align: center;

    background-color: #00ced1;
    color: #ffffff;
    padding: 40%;

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/*Start of Package css*/

.package-highlights {
    width: auto;
    height: 400px;
    padding: 0;
    /*margin: auto;*/
    /*background-image: url('/images/package07_coverpic.jpg');*/
    background-size: cover;
    overflow: hidden;
}

.package-highlights div {
    margin: 0;
    padding: 1em;
    display: none;
    color: white;
}

.package-highlights:hover div {
    position: relative;
    top: 33%;
    height: 66%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}

.jumbo-background {

    /*background-image: url("images/Glass-Bridge.jpg");*/
    /*background-color: #00dd2f;*/
     background-color: #FFD700;
}

.white-text {

    color: #ffffff;
}

.package01 {

    background-image: url('/images/package01_coverpic.jpg');

}

.package02 {

    background-image: url('/images/package02_coverpic.jpg');

}

.package03 {

    background-image: url('/images/package03_coverpic.jpg');

}

.package04 {

    background-image: url('/images/package04_coverpic.jpg');

}

.package05 {

    background-image: url('/images/package05_coverpic.jpg');

}

.package06 {

    background-image: url('/images/package06_coverpic.jpg');

}

.package07 {

    background-image: url('/images/package07_coverpic.jpg');

}

/*booking_form CSS*/
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #00ced1;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;

    font: 32px Arial, sans-serif;
}

/*Start of the Pricing_Summary Page Styling*/
.panel {
    border: 1px solid #00ced1;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    /*background-color: #f4511e !important;*/
    background-color: #433A3F !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

/*End of the Pricing Summary CSS */

.bg-1 {
    background-color:#F0FFFF;

    color: #2E294E;
    border-radius: 50%;

    /*padding : 2em;*/
    margin-bottom : 1em;
    margin-top: 1.5em;
}